.intro-header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 100px;
}

.keywords-container {
  margin: 10px 0;
  border: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.keywords-container .keyword {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.keywords-container .keyword:hover {
  background-color: rgb(191, 215, 219);
  border-radius: 30px;
}

.query-container .jobs-header, .results-container .item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  padding: 10px;
}

.item .position, .jobs-header .header-lg {
  flex: 1 0 30%;
}

.jobs-header .header, .item .company, .item .location {
  flex: 1 0 25%;
}