.results-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.header-container .headers, .results-container .searchResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.headers .header, .searchResults .company, .searchResults .position, .searchResults .location {
  flex: 1 0 25%;
}