.results-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.header-container .headers, .results-container .searchResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.headers .header, .searchResults .company, .searchResults .position, .searchResults .location {
  flex: 1 0 25%;
}

.selInd {
  margin-top: 20px;
}

.selectedIndustries {
  margin-top: 20px;
}


.filBut {
  background-color: #aae6cc;
}

.filter-submit-btn {
  margin-top: 30px;
  padding: 6px 25px;
  min-height: 25px;
  min-width: 15px;
  word-wrap: nowrap;
  background: #1abc9c;
  color: #fff;
  border: 1px solid #1abc9c;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 5%;
}

.filter-submit-btn:hover{
  background-color: #aae6cc;
  color:teal;
}

.explore-title{
  background-color: #1abc9c;
  text-align: center;
  padding: 30px;
  color: white;
  
}

.explore-category{
  font-size: 25px;
  margin-left: 60px;
}

#sizeDropdown{
  height: 30px;
}

.input-box{
  margin-left: 60px;
}

.filBut{
  background-color: #1abc9c;
  height: 50px;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 18px;
  padding-left: 4%;
  padding-right: 4%;
  border: none;
  color:black
}

.filBut:hover{
  background-color: #aae6cc;
  color: teal;
}

.sector-container, .industry-container, .size-cont {
  margin-top: 30px;
}

.option-filter{
  margin-top: 1%;;
  padding-left: 5%;
  padding-right: 5%;
}

.del-btn{
  margin-left: 10px;
}

.explore-title1{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  color: darkblue;
}

.company-title, .results-container{
  margin-left: 100px;
}

