.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .searchResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.searchResults .company, .searchResults .position, .searchResults .location, .searchResults .date, .headers .header {
  flex: 1 0 25%;
}